<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div>
        <h1>404</h1>
        <p class="text-fuchsia-600 text-center py-10 text-2xl">Oops couldn't find that</p>
    </div>
</body>

</html>