<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/ajax.js"></script>
    <script src="./js/app.js"></script>
</head>

<body>
    <!-- How to display all the names of the tags here using fetch on the frontend -->
    <h1>Tags</h1>
    <main id="tags-list">
        <!-- Tags will be populated here -->   
    </main>
</body>

</html>