<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- How to display all the names of the tags here using fetch on the frontend -->
</body>

</html>